<li>
	{{this.burger_name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}" class="btn waves-effect waves-light" type="submit">
		{{#if sleep}}<p id="return"><i class="material-icons">reply_all</i>Return</p>{{else}}<p id="eat"><img src="https://raw.githubusercontent.com/IamGiel/burger/master/views/images/burgerLogo.png" alt="glyphicons envelope icon" height="16" width="24" />Eat this!</p>{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}" class="btn waves-effect waves-light" type="submit" id="eat">DELETE!<i class="material-icons">delete</i></button>
</li>

