<li>
	{{this.burger_name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}Eat 'Em!{{else}}Make 'Em!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
